/* line 17, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 19, ../sass/_world.scss */
html {
  height: 100%;
}

/* line 23, ../sass/_world.scss */
body {
  height: 100%;
  overflow: hidden;
  background-size: 100% 400%;
  background-position-y: 0%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #81a9ff), color-stop(50%, #0000ff), color-stop(100%, #81a9ff));
  background-image: -webkit-linear-gradient(top, #81a9ff, #0000ff, #81a9ff);
  background-image: -moz-linear-gradient(top, #81a9ff, #0000ff, #81a9ff);
  background-image: -o-linear-gradient(top, #81a9ff, #0000ff, #81a9ff);
  background-image: linear-gradient(top, #81a9ff, #0000ff, #81a9ff);
  -webkit-animation: daynight 60s infinine linear;
  -moz-animation: daynight 60s infinine linear;
  -ms-animation: daynight 60s infinine linear;
  -o-animation: daynight 60s infinine linear;
  animation: daynight 60s infinine linear;
}

/* line 32, ../sass/_world.scss */
.clouds {
  position: absolute;
  background-color: white;
  z-index: 2;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 30px gray inset, 3px 3px 3px gray;
  -moz-box-shadow: 0 0 30px gray inset, 3px 3px 3px gray;
  box-shadow: 0 0 30px gray inset, 3px 3px 3px gray;
}
/* line 39, ../sass/_world.scss */
.clouds.cloud-1 {
  -webkit-animation: clouds 8.5s infinite linear;
  -moz-animation: clouds 8.5s infinite linear;
  -ms-animation: clouds 8.5s infinite linear;
  -o-animation: clouds 8.5s infinite linear;
  animation: clouds 8.5s infinite linear;
}
/* line 39, ../sass/_world.scss */
.clouds.cloud-2 {
  -webkit-animation: clouds 9s infinite linear;
  -moz-animation: clouds 9s infinite linear;
  -ms-animation: clouds 9s infinite linear;
  -o-animation: clouds 9s infinite linear;
  animation: clouds 9s infinite linear;
}
/* line 39, ../sass/_world.scss */
.clouds.cloud-3 {
  -webkit-animation: clouds 9.5s infinite linear;
  -moz-animation: clouds 9.5s infinite linear;
  -ms-animation: clouds 9.5s infinite linear;
  -o-animation: clouds 9.5s infinite linear;
  animation: clouds 9.5s infinite linear;
}
/* line 39, ../sass/_world.scss */
.clouds.cloud-4 {
  -webkit-animation: clouds 10s infinite linear;
  -moz-animation: clouds 10s infinite linear;
  -ms-animation: clouds 10s infinite linear;
  -o-animation: clouds 10s infinite linear;
  animation: clouds 10s infinite linear;
}
/* line 39, ../sass/_world.scss */
.clouds.cloud-5 {
  -webkit-animation: clouds 10.5s infinite linear;
  -moz-animation: clouds 10.5s infinite linear;
  -ms-animation: clouds 10.5s infinite linear;
  -o-animation: clouds 10.5s infinite linear;
  animation: clouds 10.5s infinite linear;
}
/* line 39, ../sass/_world.scss */
.clouds.cloud-6 {
  -webkit-animation: clouds 11s infinite linear;
  -moz-animation: clouds 11s infinite linear;
  -ms-animation: clouds 11s infinite linear;
  -o-animation: clouds 11s infinite linear;
  animation: clouds 11s infinite linear;
}
/* line 39, ../sass/_world.scss */
.clouds.cloud-7 {
  -webkit-animation: clouds 11.5s infinite linear;
  -moz-animation: clouds 11.5s infinite linear;
  -ms-animation: clouds 11.5s infinite linear;
  -o-animation: clouds 11.5s infinite linear;
  animation: clouds 11.5s infinite linear;
}
/* line 39, ../sass/_world.scss */
.clouds.cloud-8 {
  -webkit-animation: clouds 12s infinite linear;
  -moz-animation: clouds 12s infinite linear;
  -ms-animation: clouds 12s infinite linear;
  -o-animation: clouds 12s infinite linear;
  animation: clouds 12s infinite linear;
}
/* line 39, ../sass/_world.scss */
.clouds.cloud-9 {
  -webkit-animation: clouds 12.5s infinite linear;
  -moz-animation: clouds 12.5s infinite linear;
  -ms-animation: clouds 12.5s infinite linear;
  -o-animation: clouds 12.5s infinite linear;
  animation: clouds 12.5s infinite linear;
}
/* line 39, ../sass/_world.scss */
.clouds.cloud-10 {
  -webkit-animation: clouds 13s infinite linear;
  -moz-animation: clouds 13s infinite linear;
  -ms-animation: clouds 13s infinite linear;
  -o-animation: clouds 13s infinite linear;
  animation: clouds 13s infinite linear;
}

/* line 45, ../sass/_world.scss */
.skysphere {
  position: relative;
  width: 100%;
  height: 200%;
  -webkit-animation: skysphere 60s infinite linear;
  -moz-animation: skysphere 60s infinite linear;
  -ms-animation: skysphere 60s infinite linear;
  -o-animation: skysphere 60s infinite linear;
  animation: skysphere 60s infinite linear;
}
/* line 50, ../sass/_world.scss */
.skysphere .skyelement {
  position: absolute;
  left: 50%;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
}
/* line 54, ../sass/_world.scss */
.skysphere .skyelement.sun {
  top: 10px;
  width: 200px;
  height: 200px;
  margin-left: -100px;
  background-color: yellow;
  -webkit-box-shadow: 0 0 40px #ff9a00 inset;
  -moz-box-shadow: 0 0 40px #ff9a00 inset;
  box-shadow: 0 0 40px #ff9a00 inset;
}
/* line 62, ../sass/_world.scss */
.skysphere .skyelement.moon {
  width: 120px;
  height: 120px;
  margin-left: -60px;
  bottom: 30px;
  -webkit-box-shadow: -30px 0px 10px 10px white inset;
  -moz-box-shadow: -30px 0px 10px 10px white inset;
  box-shadow: -30px 0px 10px 10px white inset;
}

/* line 73, ../sass/_world.scss */
.box {
  width: 100px;
  height: 100px;
  border: 1px solid #0080ff;
  position: absolute;
  bottom: 100px;
  left: 50%;
  margin-left: -50px;
  background-color: white;
  z-index: 10;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 50px #0080ff inset;
  -moz-box-shadow: 0 0 50px #0080ff inset;
  box-shadow: 0 0 50px #0080ff inset;
}
/* line 85, ../sass/_world.scss */
.box.jump {
  -webkit-animation: jump 0.5s;
  -moz-animation: jump 0.5s;
  -ms-animation: jump 0.5s;
  -o-animation: jump 0.5s;
  animation: jump 0.5s;
}

/* line 90, ../sass/_world.scss */
.horizon {
  position: absolute;
  width: 100%;
  height: 100px;
  bottom: 0;
  background-image: linear-gradient(-45deg, transparent 25%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 50%, transparent 50%, transparent 75%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0.2)), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff892d), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(-45deg, transparent 25%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 50%, transparent 50%, transparent 75%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0.2)), -webkit-linear-gradient(top, #ff892d, #ffffff);
  background-image: -moz-linear-gradient(-45deg, transparent 25%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 50%, transparent 50%, transparent 75%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0.2)), -moz-linear-gradient(top, #ff892d, #ffffff);
  background-image: -o-linear-gradient(-45deg, transparent 25%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 50%, transparent 50%, transparent 75%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0.2)), -o-linear-gradient(top, #ff892d, #ffffff);
  background-image: linear-gradient(-45deg, transparent 25%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 50%, transparent 50%, transparent 75%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0.2)), linear-gradient(top, #ff892d, #ffffff);
  -webkit-background-size: 50px 50px, 100px 100px;
  -moz-background-size: 50px 50px, 100px 100px;
  -o-background-size: 50px 50px, 100px 100px;
  background-size: 50px 50px, 100px 100px;
  -webkit-animation: scroll 0.4s infinite linear;
  -moz-animation: scroll 0.4s infinite linear;
  -ms-animation: scroll 0.4s infinite linear;
  -o-animation: scroll 0.4s infinite linear;
  animation: scroll 0.4s infinite linear;
}

@-moz-keyframes clouds {
  /* line 2, ../sass/_animations.scss */
  0% {
    right: -10%;
  }

  /* line 3, ../sass/_animations.scss */
  100% {
    right: 100%;
  }
}

@-webkit-keyframes clouds {
  /* line 2, ../sass/_animations.scss */
  0% {
    right: -10%;
  }

  /* line 3, ../sass/_animations.scss */
  100% {
    right: 100%;
  }
}

@-o-keyframes clouds {
  /* line 2, ../sass/_animations.scss */
  0% {
    right: -10%;
  }

  /* line 3, ../sass/_animations.scss */
  100% {
    right: 100%;
  }
}

@-ms-keyframes clouds {
  /* line 2, ../sass/_animations.scss */
  0% {
    right: -10%;
  }

  /* line 3, ../sass/_animations.scss */
  100% {
    right: 100%;
  }
}

@keyframes clouds {
  /* line 2, ../sass/_animations.scss */
  0% {
    right: -10%;
  }

  /* line 3, ../sass/_animations.scss */
  100% {
    right: 100%;
  }
}

@-moz-keyframes skysphere {
  /* line 7, ../sass/_animations.scss */
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 8, ../sass/_animations.scss */
  100% {
    -moz-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@-webkit-keyframes skysphere {
  /* line 7, ../sass/_animations.scss */
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 8, ../sass/_animations.scss */
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@-o-keyframes skysphere {
  /* line 7, ../sass/_animations.scss */
  0% {
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 8, ../sass/_animations.scss */
  100% {
    -o-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@-ms-keyframes skysphere {
  /* line 7, ../sass/_animations.scss */
  0% {
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 8, ../sass/_animations.scss */
  100% {
    -ms-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes skysphere {
  /* line 7, ../sass/_animations.scss */
  0% {
    transform: rotate(0deg);
  }

  /* line 8, ../sass/_animations.scss */
  100% {
    transform: rotate(359deg);
  }
}

@-moz-keyframes daynight {
  /* line 12, ../sass/_animations.scss */
  0% {
    background-position-y: 0%;
  }

  /* line 13, ../sass/_animations.scss */
  100% {
    background-position-y: 400%;
  }
}

@-webkit-keyframes daynight {
  /* line 12, ../sass/_animations.scss */
  0% {
    background-position-y: 0%;
  }

  /* line 13, ../sass/_animations.scss */
  100% {
    background-position-y: 400%;
  }
}

@-o-keyframes daynight {
  /* line 12, ../sass/_animations.scss */
  0% {
    background-position-y: 0%;
  }

  /* line 13, ../sass/_animations.scss */
  100% {
    background-position-y: 400%;
  }
}

@-ms-keyframes daynight {
  /* line 12, ../sass/_animations.scss */
  0% {
    background-position-y: 0%;
  }

  /* line 13, ../sass/_animations.scss */
  100% {
    background-position-y: 400%;
  }
}

@keyframes daynight {
  /* line 12, ../sass/_animations.scss */
  0% {
    background-position-y: 0%;
  }

  /* line 13, ../sass/_animations.scss */
  100% {
    background-position-y: 400%;
  }
}

@-moz-keyframes scroll {
  /* line 18, ../sass/_animations.scss */
  0% {
    background-position: 0 0;
  }

  /* line 19, ../sass/_animations.scss */
  100% {
    background-position: -50px -50px;
  }
}

@-webkit-keyframes scroll {
  /* line 18, ../sass/_animations.scss */
  0% {
    background-position: 0 0;
  }

  /* line 19, ../sass/_animations.scss */
  100% {
    background-position: -50px -50px;
  }
}

@-o-keyframes scroll {
  /* line 18, ../sass/_animations.scss */
  0% {
    background-position: 0 0;
  }

  /* line 19, ../sass/_animations.scss */
  100% {
    background-position: -50px -50px;
  }
}

@-ms-keyframes scroll {
  /* line 18, ../sass/_animations.scss */
  0% {
    background-position: 0 0;
  }

  /* line 19, ../sass/_animations.scss */
  100% {
    background-position: -50px -50px;
  }
}

@keyframes scroll {
  /* line 18, ../sass/_animations.scss */
  0% {
    background-position: 0 0;
  }

  /* line 19, ../sass/_animations.scss */
  100% {
    background-position: -50px -50px;
  }
}

@-moz-keyframes jump {
  /* line 23, ../sass/_animations.scss */
  0% {
    bottom: 100px;
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 27, ../sass/_animations.scss */
  50% {
    bottom: 400px;
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* line 31, ../sass/_animations.scss */
  100% {
    bottom: 100px;
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

@-webkit-keyframes jump {
  /* line 23, ../sass/_animations.scss */
  0% {
    bottom: 100px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 27, ../sass/_animations.scss */
  50% {
    bottom: 400px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* line 31, ../sass/_animations.scss */
  100% {
    bottom: 100px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

@-o-keyframes jump {
  /* line 23, ../sass/_animations.scss */
  0% {
    bottom: 100px;
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 27, ../sass/_animations.scss */
  50% {
    bottom: 400px;
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* line 31, ../sass/_animations.scss */
  100% {
    bottom: 100px;
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

@-ms-keyframes jump {
  /* line 23, ../sass/_animations.scss */
  0% {
    bottom: 100px;
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 27, ../sass/_animations.scss */
  50% {
    bottom: 400px;
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* line 31, ../sass/_animations.scss */
  100% {
    bottom: 100px;
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

@keyframes jump {
  /* line 23, ../sass/_animations.scss */
  0% {
    bottom: 100px;
    transform: rotate(0deg);
  }

  /* line 27, ../sass/_animations.scss */
  50% {
    bottom: 400px;
    transform: rotate(45deg);
  }

  /* line 31, ../sass/_animations.scss */
  100% {
    bottom: 100px;
    transform: rotate(90deg);
  }
}
