/* line 17, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 10, ../sass/_world.scss */
body {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b3fffd), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(top, #b3fffd, #ffffff);
  background-image: -moz-linear-gradient(top, #b3fffd, #ffffff);
  background-image: -o-linear-gradient(top, #b3fffd, #ffffff);
  background-image: linear-gradient(top, #b3fffd, #ffffff);
}

/* line 14, ../sass/_world.scss */
.box {
  width: 100px;
  height: 100px;
  border: 1px solid #0080ff;
  position: absolute;
  bottom: 100px;
  left: 50%;
  margin-left: -50px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 50px #0080ff inset;
  -moz-box-shadow: 0 0 50px #0080ff inset;
  box-shadow: 0 0 50px #0080ff inset;
}
/* line 24, ../sass/_world.scss */
.box.jump {
  -webkit-animation: jump 0.5s;
  -moz-animation: jump 0.5s;
  -ms-animation: jump 0.5s;
  -o-animation: jump 0.5s;
  animation: jump 0.5s;
}

/* line 29, ../sass/_world.scss */
.horizon {
  position: absolute;
  width: 100%;
  height: 100px;
  bottom: 0;
  background-image: linear-gradient(-45deg, transparent 25%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 50%, transparent 50%, transparent 75%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0.2)), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff892d), color-stop(100%, transparent));
  background-image: -webkit-linear-gradient(-45deg, transparent 25%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 50%, transparent 50%, transparent 75%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0.2)), -webkit-linear-gradient(top, #ff892d, transparent);
  background-image: -moz-linear-gradient(-45deg, transparent 25%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 50%, transparent 50%, transparent 75%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0.2)), -moz-linear-gradient(top, #ff892d, transparent);
  background-image: -o-linear-gradient(-45deg, transparent 25%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 50%, transparent 50%, transparent 75%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0.2)), -o-linear-gradient(top, #ff892d, transparent);
  background-image: linear-gradient(-45deg, transparent 25%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 50%, transparent 50%, transparent 75%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0.2)), linear-gradient(top, #ff892d, transparent);
  -webkit-background-size: 50px 50px, 100px 100px;
  -moz-background-size: 50px 50px, 100px 100px;
  -o-background-size: 50px 50px, 100px 100px;
  background-size: 50px 50px, 100px 100px;
  -webkit-animation: scroll 0.4s infinite linear;
  -moz-animation: scroll 0.4s infinite linear;
  -ms-animation: scroll 0.4s infinite linear;
  -o-animation: scroll 0.4s infinite linear;
  animation: scroll 0.4s infinite linear;
}

@-moz-keyframes scroll {
  /* line 43, ../sass/_world.scss */
  0% {
    background-position: 0 0;
  }

  /* line 44, ../sass/_world.scss */
  100% {
    background-position: -50px -50px;
  }
}

@-webkit-keyframes scroll {
  /* line 43, ../sass/_world.scss */
  0% {
    background-position: 0 0;
  }

  /* line 44, ../sass/_world.scss */
  100% {
    background-position: -50px -50px;
  }
}

@-o-keyframes scroll {
  /* line 43, ../sass/_world.scss */
  0% {
    background-position: 0 0;
  }

  /* line 44, ../sass/_world.scss */
  100% {
    background-position: -50px -50px;
  }
}

@-ms-keyframes scroll {
  /* line 43, ../sass/_world.scss */
  0% {
    background-position: 0 0;
  }

  /* line 44, ../sass/_world.scss */
  100% {
    background-position: -50px -50px;
  }
}

@keyframes scroll {
  /* line 43, ../sass/_world.scss */
  0% {
    background-position: 0 0;
  }

  /* line 44, ../sass/_world.scss */
  100% {
    background-position: -50px -50px;
  }
}

@-moz-keyframes jump {
  /* line 48, ../sass/_world.scss */
  0% {
    bottom: 100px;
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 52, ../sass/_world.scss */
  50% {
    bottom: 400px;
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* line 56, ../sass/_world.scss */
  100% {
    bottom: 100px;
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

@-webkit-keyframes jump {
  /* line 48, ../sass/_world.scss */
  0% {
    bottom: 100px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 52, ../sass/_world.scss */
  50% {
    bottom: 400px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* line 56, ../sass/_world.scss */
  100% {
    bottom: 100px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

@-o-keyframes jump {
  /* line 48, ../sass/_world.scss */
  0% {
    bottom: 100px;
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 52, ../sass/_world.scss */
  50% {
    bottom: 400px;
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* line 56, ../sass/_world.scss */
  100% {
    bottom: 100px;
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

@-ms-keyframes jump {
  /* line 48, ../sass/_world.scss */
  0% {
    bottom: 100px;
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 52, ../sass/_world.scss */
  50% {
    bottom: 400px;
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* line 56, ../sass/_world.scss */
  100% {
    bottom: 100px;
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

@keyframes jump {
  /* line 48, ../sass/_world.scss */
  0% {
    bottom: 100px;
    transform: rotate(0deg);
  }

  /* line 52, ../sass/_world.scss */
  50% {
    bottom: 400px;
    transform: rotate(45deg);
  }

  /* line 56, ../sass/_world.scss */
  100% {
    bottom: 100px;
    transform: rotate(90deg);
  }
}

/* line 63, ../sass/_world.scss */
#jump {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  height: 50px;
}
