$boxSize: 100px;
$boxColor: #0080FF;
$boxJumpHeight: 300px;
$groundSize: 100px;
$groundColor: #FF892D;
$skyColor: #81A9FF;
$jumpTime: 0.5s;
$scrollTime: 0.4s;
$cloudColor: #808080;
$cloudsTime: 8s;
$cloudsJitter: 0.5s;
$maxCloudWidth: 300px;
$dayTime: 60s;

html {
	height: 100%;
}

body {
	@include background-image(linear-gradient(top,$skyColor,white));
	height: 100%;
	overflow: hidden;
	@include animation(daynight $daytime infinite linear);
}

.clouds {
	position: absolute;
	background-color: white;
	@include border-radius(10px);
	@include box-shadow(0 0 30px $cloudColor inset, 3px 3px 3px $cloudColor);
	@for $i from 1 through 10 {
		&.cloud-#{$i} {
			@include animation(clouds $cloudsTime+$cloudsJitter*$i infinite linear);
		}
	}
}

.skysphere {
	position: relative;
	width: 100%;
	height: 200%;
	@include animation(skysphere $dayTime infinite linear);
	@include transform(rotate(0deg));
	.skyelement {
		position: absolute;
		width: 200px;
		height: 200px;
		left: 50%;
		margin-left: -100px;
		@include border-radius(100px);
		&.sun {
			top:0;
			background-color: yellow;
		}
		&.moon {
			background-color: green;
			bottom: 0;
		}
	}
}

.box {
	width: $boxSize;
	height: $boxSize;
	border: 1px solid $boxColor;
	position: absolute;
	bottom: $groundSize;
	left: 50%;
	margin-left: -$boxSize/2;
	@include border-radius(10px);
	@include box-shadow(0 0 $boxSize/2 $boxColor inset);
	&.jump {
		@include animation(jump $jumpTime);
	}
}

.horizon {
	position: absolute;
	width: 100%;
	height: $groundSize;
	bottom: 0;
	@include background-image(
		linear-gradient(-45deg,transparent 25%,rgba(255,255,255,0.2) 25%,rgba(255,255,255,0.2) 50%,transparent 50%,transparent 75%,rgba(255,255,255,0.2) 75%,rgba(255,255,255,0.2)),
		linear-gradient(top, $groundColor, white)
	);
	@include background-size(50px 50px, $groundSize $groundSize);
	@include animation(scroll $scrollTime infinite linear);
}