$boxSize: 100px;
$boxColor: #0080FF;
$boxJumpHeight: 300px;
$groundSize: 100px;
$groundColor: #FF892D;
$daySkyColor: #81A9FF;
$nightSkyColor: blue;
$jumpTime: 0.5s;
$scrollTime: 0.4s;
$cloudColor: #808080;
$cloudsTime: 8s;
$cloudsJitter: 0.5s;
$maxCloudWidth: 300px;
$dayTime: 60s;
$moonColor: white;
$sunColor: #FFBF00;
$sunColor2: #FF9A00;

html {
	height: 100%;
}

body {
	height: 100%;
	overflow: hidden;
	background-size: 100% 400%;
	background-position-y: 0%;
	@include background-image(linear-gradient(top,$daySkyColor,$nightSkyColor,$daySkyColor));
	@include animation(daynight $dayTime infinine linear);
}

.clouds {
	position: absolute;
	background-color: white;
	z-index: 2;
	@include border-radius(10px);
	@include box-shadow(0 0 30px $cloudColor inset, 3px 3px 3px $cloudColor);
	@for $i from 1 through 10 {
		&.cloud-#{$i} {
			@include animation(clouds $cloudsTime+$cloudsJitter*$i infinite linear);
		}
	}
}

.skysphere {
	position: relative;
	width: 100%;
	height: 200%;
	@include animation(skysphere $dayTime infinite linear);
	.skyelement {
		position: absolute;
		left: 50%;
		@include border-radius(100px);
		&.sun {
			top:10px;
			width: 200px;
			height: 200px;
			margin-left: -100px;
			background-color: yellow;
			@include box-shadow(0 0 40px $sunColor2 inset);
		}
		&.moon {
			width: 120px;
			height: 120px;
			margin-left: -60px;
			//background-color: white;
			bottom: 30px;
			@include box-shadow(-30px 0px 10px 10px $moonColor inset);
		}
	}
}

.box {
	width: $boxSize;
	height: $boxSize;
	border: 1px solid $boxColor;
	position: absolute;
	bottom: $groundSize;
	left: 50%;
	margin-left: -$boxSize/2;
	background-color: white;
	z-index: 10;
	@include border-radius(10px);
	@include box-shadow(0 0 $boxSize/2 $boxColor inset);
	&.jump {
		@include animation(jump $jumpTime);
	}
}

.horizon {
	position: absolute;
	width: 100%;
	height: $groundSize;
	bottom: 0;
	@include background-image(
		linear-gradient(-45deg,transparent 25%,rgba(255,255,255,0.2) 25%,rgba(255,255,255,0.2) 50%,transparent 50%,transparent 75%,rgba(255,255,255,0.2) 75%,rgba(255,255,255,0.2)),
		linear-gradient(top, $groundColor, white)
	);
	@include background-size(50px 50px, $groundSize $groundSize);
	@include animation(scroll $scrollTime infinite linear);
}